body {
  background: #e7ecf3;
  font-family: "Montserrat", sans-serif;
}
.wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: 800px;
  justify-content: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #e8edee;
  box-shadow: 16px 16px 20px rgba(0, 0, 0, 0.5);
}
aside {
  width: 370px;
  background: #1e2939;
}
.cv-photo {
  margin-top: 25px;
}
.div-secondary {
  margin-left: 40px;
  margin-top: 51px;
}
.header-secondary {
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  margin-top: 40px;
}

.list-secondary {
  color: #ffffff;
  padding: 0px;
  list-style: inside;
  font-size: 14px;
  line-height: 24px;
}
aside li::marker {
  color: #fb6d3a;
}
aside a {
  color: rgb(255, 255, 255);
}
aside p {
  color: #ffffff;
}
aside p a {
  color: rgba(255, 255, 255, 0.5);
}
