body {
  /* background: #a5b9ec; */
  font-family: "Montserrat", sans-serif;
  overflow: scroll;
}
.wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  justify-content: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #e5f1f4;
  box-shadow: 16px 16px 20px rgba(0, 0, 0, 0.5);
}
aside {
  width: 370px;
  background: #1e2939;
  margin-left: 20px;
}
.cv-photo {
  margin-top: 25px;
}
.div-secondary {
  margin-left: 40px;
  margin-top: 51px;
  margin-bottom: 51px;
}
.header-secondary {
  color: #ffffff;
  font-weight: 700;
  margin-top: 40px;
}

.list-secondary {
  color: #ffffff;
  padding: 0px;
  list-style: inside;
  font-size: 14px;
  line-height: 24px;
}
aside li::marker {
  color: #fb6d3a;
}
aside a {
  color: rgb(255, 255, 255);
}
aside p {
  color: #ffffff;
}
aside p a {
  color: rgba(255, 255, 255, 0.5);
}
main {
  width: auto;
  padding: 102px 88px 102px 88px;
}
.list-primary {
  padding: 0px;
  list-style-position: inside;
  list-style-type: decimal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}
.list-primary li a {
  text-decoration-line: none;
  font-weight: 400;
  position: absolute;
}
div.div-a {
  font-weight: 400;
  display: inline;
  position: relative;
  left: 50%;
  transform: translatex(-50%);
  color: rgb(0, 0, 0);
}
.div-a span {
  font-weight: bold;
}
main div h3 {
  font-weight: 400;
  font-size: 14px;
}
.h2-primary {
  color: #a42727;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-top: 40px;
}
.main-description {
  width: 500px;
  margin-bottom: 51px;
}
h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
}
main p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.job-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-top: 25px;
}
.highlight {
  color: #fb6d3a;
}
.job-date {
  color: #5d5d5d;
  font-size: 12px;
}
.job-list {
  font-size: 14px;
  line-height: 24px;
  padding: 0px;
  list-style-position: inside;
}
.education-list {
  font-size: 14px;
  line-height: 24px;
  padding: 0px;
  list-style-position: inside;
}
